.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input {
  min-width: 75%;
  height: 26px;
  padding: 6px;
  border-radius: 3px;
}

.btn {
  min-width: 20%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
}
