.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fffff0;
}
.content {
  width: 500px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: solid 1px;
}
