.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.379);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerModal {
  width: 300px;
  height: 150px;
  background-color: rgb(218, 218, 218);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 70px;
  cursor: pointer;
}
