.container {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px;
}
.text {
  font-size: 18px;
}
.btn {
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
